extends "wrapper.jade"
block body
  div.row
    for post in posts
      div.col-md-12.postloop
        div.post-header
          h1
            a(href="{{post.permalink}}#headline") {{post.title}}
        div.post-meta
          ul.list-inline
            li Posted by {{post.author}}
            li in {{post.category.title}}
            li on {{post.date|datetime}}
            li
              a(href="{{post.permalink}}#disqus_thread") link
        div
          {{ post.summary }}
